[submodule ".themes/slash"]
	path = .themes/slash
	url = git@github:jbatte47/Octopress-Theme-Slash
[submodule ".themes/darkstripes"]
	path = .themes/darkstripes
	url = git@github:jbatte47/darkstripes
